// variables
$MovieSearcher-mainColor: #09f;
$MovieSearcher-backgroundColor: #fff;
$MovieSearcher-isFirstSearch-backgroundColor: transparent;
$MovieSearcher-button--primary-backgroundColor: darken($MovieSearcher-mainColor, 15%);
$MovieSearcher-button--primary-onHover-backgroundColor: darken($MovieSearcher-mainColor, 25%);
$MovieSearcher-button--secondary-backgroundColor: lighten($MovieSearcher-mainColor, 30%);
$MovieSearcher-button--secondary-onHover-backgroundColor: lighten($MovieSearcher-mainColor, 20%);
$MovieSearcher-button--primary-textColor: lighten($MovieSearcher-mainColor, 100%);
$MovieSearcher-button--secondary-textColor: darken($MovieSearcher-mainColor, 100%);

.wrapper-MovieSearcher {

  // styles that will be overwritten after the first search
  body:not(.is-firstSearch) & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $MovieSearcher-backgroundColor;
    box-shadow: 0 0 5px 2px #333;
  }

}

.MovieSearcher {

  // common styles
  background-color: $MovieSearcher-isFirstSearch-backgroundColor;
  .MovieSearcher-formControl {
    line-height: 2em;
    padding: .5em;
  }
  .MovieSearcher-button {
    line-height: 2em;
    padding: .5em;
    font-family: 'Permanent Marker';
    border-width: 0;
    cursor: pointer;
    &.MovieSearcher-button--primary {
      background-color: $MovieSearcher-button--primary-backgroundColor;
      color: $MovieSearcher-button--primary-textColor;
      &:focus,
      &:hover,
      &:active {
        background-color: $MovieSearcher-button--primary-onHover-backgroundColor;
      }
    }
    &.MovieSearcher-button--secondary {
      display: flex;
      justify-content: center;
      min-width: 3.25em;
      background-color: $MovieSearcher-button--secondary-backgroundColor;
      color: $MovieSearcher-button--secondary-textColor;
      &:focus,
      &:hover,
      &:active {
        background-color: $MovieSearcher-button--secondary-onHover-backgroundColor;
      }
      .iconFill {
        fill: $MovieSearcher-button--secondary-textColor;
      }
    }
  }

  // styles that will be overwritten after the first search
  body:not(.is-firstSearch) & {
    display: flex;
    .MovieSearcher-formControl {
      flex: 1;
    }
  }

  // styles before the first search has been performed
  .is-firstSearch & {
    width: 16.5em;
    margin: 0 auto;
    .MovieSearcher-formControl {
      width: 100%;
      margin: 0 0 .2em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    .MovieSearcher-button {
      width: 100%;
      margin: 0 0 .2em;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;

      // re-order and back button is hidden before the first search
      &.MovieSearcher-button--secondary {
        display: none;
      }

    }
  }
}