<form id="MovieSearcher" class="MovieSearcher">

  <button class="MovieSearcher-button MovieSearcher-button--secondary" type="button">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path class="iconFill" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
    </svg>
    <span class="u-srOnly">Back</span>
  </button>

  <label for="MovieSearcher_formControl" class="u-srOnly">Movie to search</label>
  <input id="MovieSearcher_formControl"
    class="MovieSearcher-formControl"
    type="text"
    placeholder="Type your movie here"
  />

  <button class="MovieSearcher-button MovieSearcher-button--primary" type="submit">
    <span>Let's Go!!</span>
  </button>
  <button class="MovieSearcher-button MovieSearcher-button--secondary" type="button">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path class="iconFill" d="M14,8H11V14H6V8H3L8.5,2L14,8M15.5,22L21,16H18V10H13V16H10L15.5,22Z" />
    </svg>
    <span class="u-srOnly">Toggle order</span>
  </button>

</form>